body {
  font-family: Arial, sans-serif;
  background-color:lightgray; 
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.navbar {
  background-color:peru; /* Set background color for the navbar */
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.footer{
  text-align: center;
}



.header h1 {
  font-size: 36px;
  color: #333;
}

.header p {
  color: #666;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #ffcc00;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #e0e0e0;
}










  


.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.product-card {
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  max-width: 300px;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-details h2 {
  font-size: 20px;
  margin: 10px 0;
}

.product-details p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.add-to-cart {
  background-color: #ffdb58;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}



.contact-form {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
label {
  font-size: 18px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container img {
  max-width: 100%;
  height: auto;
}

